body{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #6666FF;
    background-color: #FFFF66;
}
input[type="submit"], input[type="reset"]{
	color: #30092f;
    font-size: 12px;
    font-weight: bold;
	background-color : #FFFF66;
    border-radius: 25px 15px 30px 5px;
    -moz-border-radius: 25px 15px 30px 5px;
    -webkit-border-radius: 25px 15px 30px 5px;
}
hr {
    background-color: #30092f;
    /*color: #30092f;*/
    height: 2px;
}
h1 {
    font-size: 28px;
}
h2 {
    border-left: #30092f 3px solid;
    margin-bottom: -8px;
    padding-left: 5px;
    margin-top: 0px;
    font-size: 20px;
}
.smaller {
    font-family: cursive;
}
.asked {
    color: #4e545b;
}
.answer {
    color: #00a69d;
}
#form{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#labels{
	float: left;
	padding: 70px 10px;

}
#fields{
	float: left;
	padding: 72px 14px;
	background-color:#00a69d;
    border-radius: 25px 15px 30px 5px;
    -moz-border-radius: 25px 15px 30px 5px;
    -webkit-border-radius: 25px 15px 30px 5px;
}
#actions{
	padding: 70px;
	text-align: right;
	padding-left: 314px;
	padding-right: 10px;
	background-color:#4e545b;
    border-radius: 25px 15px 30px 5px;
    -moz-border-radius: 25px 15px 30px 5px;
    -webkit-border-radius: 25px 15px 30px 5px;
}
#fields .hex-color-picker-wrapper{
    top: 50%;
    left: 50%;
    position: absolute;
	background-color:#e3e4e6;
    border-radius: 25px 15px 30px 5px;
    -moz-border-radius: 25px 15px 30px 5px;
    -webkit-border-radius: 25px 15px 30px 5px;
}
#fields .hex-color-picker-wrapper input[type="submit"]{
	color: #6666FF;
	background-color : #FFFF66;
    border-radius: 25px 15px 30px 5px;
    -moz-border-radius: 25px 15px 30px 5px;
    -webkit-border-radius: 25px 15px 30px 5px;
}

.cc-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
}

.zero{background-image:url(../img/inputs/00.png); background-position: center; background-size: 40px 55px}
.one{background-image:url(../img/inputs/01.png); background-position: center; background-size: 40px 55px}
.two{background-image:url(../img/inputs/02.png); background-position: center; background-size: 40px 55px}
.three{background-image:url(../img/inputs/03.png); background-position: center; background-size: 40px 55px}
.four{background-image:url(../img/inputs/04.png); background-position: center; background-size: 40px 55px}
.five{background-image:url(../img/inputs/05.png); background-position: center; background-size: 40px 55px}

.drinkcard-cc{
    cursor:pointer;
    background-repeat:no-repeat;
    display:inline-block;
    width:100px;
    height:60px;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.6);
    -moz-filter: brightness(1.8) grayscale(1) opacity(.6);
    filter: brightness(1.8) grayscale(1) opacity(.6);
}
.drinkcard-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.8);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.8);
    filter: brightness(1.2) grayscale(.5) opacity(.8);
}
.selected {
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}
